.construction {
    background-color: rgb(42, 31, 173);
    color: white;
    position: sticky;
    text-align: center;
    padding: 5px;
  }
  
  #layout {
    display: flex;
    justify-content: center;
    list-style: none;
    justify-content: space-evenly;
    border-top: 30px;
    box-shadow: 0 0 10px rgba(93, 93, 93, 0.2);
    padding: 5px;
  }
  
  a{
    color: rgb(0, 0, 0);
    text-decoration: none;
  }