.content {
    padding: 2rem 15rem 0rem 15rem;
}
.organization {
    padding-left: 2rem;
    display: grid;
}
.style-list-none ul{
    padding-left: 2rem;
    padding-top: 5px;
}
.style-list-none ul li{
    list-style: none;
    padding-left: 2rem;
    padding-top: 5px;
}
.style-list-none{
    width: 55%;
    text-align: justify;
    padding-top: 1rem;
}
.style-list-none p{
    padding-left: 2rem;
    padding-top: 5px;
}
/* Sempre que for definir a estrutra do conteudo da pagina
priorize seguir um padrão da div que vai conter tudo */

.formulario{
    margin: 1rem;
    box-shadow: 15px;
    border-radius: 15px;
}
.form-space{
    padding-top: 5px;
}

