.construction {
    background-color: rgb(42, 31, 173);
    color: white;
    position: sticky;
    text-align: center;
    padding: 10px;
  }
  
  #layout {
    display: flex;
    justify-content: center;
    list-style: none;
    justify-content: space-evenly;
    border-top: 30px;
  }
  
  a{
    color: white;
    text-decoration: none;
  }